body {
    background-image: url("https://news.artnet.com/app/news-upload/2022/08/GettyImages-1217800268-scaled-e1661376805353-1024x743.jpg");
    background-size: cover;
    font-family: "Ubuntu", sans-serif;
    text-align: center;
    height: 100px;
}

.container{
    background: aliceblue;
    max-width: 80%;
    margin: auto;
    border-radius: 5px;
    border: 3px solid black;
    
}

h1 {
    padding: 40px auto;
    font-size:40px;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: darkmagenta;
}

#save-btn {
    background: peru;
}
p{
    color: black;
    font-size: 20px;
}
